# In local dev, leave unset to use same-origin Vite proxy (/rpc/json -> localhost:8080)
# VITE_DARPAN_API_BASE_URL=http://localhost:8080
# VITE_DARPAN_RPC_URL=http://localhost:8080/rpc/json
VITE_DARPAN_UI_MODE=pilot
VITE_DARPAN_AUTH_BYPASS=false
